<%- include("./Back/Back.txt") %>

<!-- 內頁 -->
<div class="content-wrapper">
	<section class="content">
		<h3 class="title">浪浪有窩後臺管理</h3>

		<div class="row">
			<!-- 連結 -->
			<a href="BackUserManage/UserManageList">
				<div class="col-xs-3 col-sm-3 col-md-3">
					<div class="back-index-link">
						<label>會員資料管理</label>
					</div>
				</div>
			</a>

			<!-- 連結 -->
			<a href="BackFosterManage/FosterManageList">
				<div class="col-xs-3 col-sm-3 col-md-3">
					<div class="back-index-link">
						<label>刊登送養審核管理</label>
					</div>
				</div>
			</a>
			<!-- 連結 -->
			<a href="BackNewsManage/NewsManageList">
				<div class="col-xs-3 col-sm-3 col-md-3">
					<div class="back-index-link">
						<label>最新消息管理</label>
					</div>
				</div>
			</a>
			<!-- 連結 -->
			<a href="BackKnowManage/KnowManageList">
				<div class="col-xs-3 col-sm-3 col-md-3">
					<div class="back-index-link">
						<label>毛孩知識文章管理</label>
					</div>
				</div>
			</a>
		</div>
	</section>
</div>

<%- include("./Back/Foot.txt") %>
