<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FosterManageAdd</title>

    <!-- jquery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js'
        integrity='sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=='
        crossorigin='anonymous'></script>
    <!-- Bootstrap CSS -->
    <!-- 連結方式建議使用cdn 嘗試一下未來工作的情況 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <script src="../Bootstrap/js/jquery.min.js"></script>
    <script src="../Bootstrap/js/popper.min.js"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="stylesheets/minyustyle.css">
    <title>浪浪有窩</title>


</head>

<body>

    <body>
        <!--navbar-->
        <div class="container-fluid header">
            <a href="./X_index.html" class="logoImg navbar-brand">
                <img src="../img/Logo/改I2 2.png" alt="" class="logo">
                <img src="../img/Logo/字.png" alt="" class="logo-text">
            </a>
            <div class="nav">
                <!-- 漢堡選單 -->
                <ul class="menu burgar-menu">
                    <li><a href="./X_index.html">首頁</a></li>
                    <li><a href="./AdopList.html">毛孩領養</a></li>
                    <li><a href="./Foster.html">刊登送養</a></li>
                    <li><a href="./KnowList.html">毛孩知識</a></li>
                </ul>
                <a href="#" class="hamBar burgar-menu">
                    <i>
                        <img src="../img/icon/square.png" class="ham hamBar-icon"></img>
                    </i>
                </a>
                <!-- navbar-user -->
                <div class="btn-group">
                    <button class="btn  btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="../img/icon/user.png" alt="" class="user-icon">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right user-menu">
                        <div class="user-img"></div>
                        <ul>
                            <li>某某某</li>
                            <li><a href="./UserEdit.html">會員資料</a></li>
                            <li><a href="./UserFoster.html">我的送養文</a></li>
                            <li><a href="./UserFollow.html">追蹤的毛孩</a></li>
                            <li><a href="./UserMsg.html">通知</a></li>
                            <li><a href="./FindMe.html">登出</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="breadcrumb-block">
            <div class="container-fluid ">
                <ol class="breadcrumb pb-0 ">
                    <li class="breadcrumb-item "><a href="./X_index.html">首頁</a></li>
                    <li class="breadcrumb-item active" aria-current="page">後臺管理</li>

                    <li class="breadcrumb-item active" aria-current="page"><a href="/FosterManageList">刊登送養審核</a></li>
                    <li class="breadcrumb-item active" aria-current="page">新增</li>
                </ol>
            </div>
        </div>


        <div id="MyDivTitle" class="container">
            <h2 class="title-lg">刊登送養審核</h2>
        </div>


        <div id="MyDivAdd" class="container">
            <form action="" name="FosterAdoptAdd" method="POST">
                <table>
                    <tr>
                        <td class="ViewTitle">寵物暱稱 </td>
                        <td class="ContentView"><input type="text" name="PetName" value=""></td>
                    </tr>
                    <tr>
                        <td class="ViewTitle">會員編號</td>
                        <td class="ContentView"><input type="text" name="MemberId" value=""></label> </td>
                    </tr>
                    <tr>
                        <td class="ViewTitle">會員刊登日期 </td>
                        <td class="ContentView"><input type="date" name="AdoptDate" value=""></label></td>
                    </tr>
                    <td class="ViewTitle">內容</td>
                    <td class="ContentView">
                        <table id="FosterTable" border="1">
                            <tr>
                                <td class="FosterTd">種類</td>
                                <td><input type="text" name="PetSpecies"></td>
                            </tr>
                            <tr>
                                <td class="FosterTd">品種</td>
                                <td><input type="text" name="PetBreed"></td>
                            </tr>
                            <tr>
                                <td class="FosterTd">體型</td>
                                <td><input type="text" name="BodyType"></td>
                            </tr>
                            <tr>
                                <td class="FosterTd">毛色</td>
                                <td><input type="text" name="PetFur"></td>
                            </tr>
                            <tr>
                                <td class="FosterTd">年紀</td>
                                <td><input type="text" name="PetAge"></td>
                            </tr>
                            <tr>
                                <td class="FosterTd">性別</td>
                                <td><input type="radio" name="PetGender" value="1">
                                    <label for="PetGender">公</label>
                                    <input type="radio" name="PetGender" value="0">
                                    <label for="PetGender">母</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="FosterTd">結紮狀況</td>

                                <td><input type="radio" name="Neuter" value="1">
                                    <label for="Neuter">已結紮</label>
                                    <input type="radio" name="Neuter" value="0">
                                    <label for="Neuter">未結紮</label>
                                </td>

                            </tr>
                            <tr>
                                <td class="FosterTd">晶片</td>
                                <td><input type="radio" name="Microchip" value="1">
                                    <label for="Microchip">有晶片</label>
                                    <input type="radio" name="Microchip" value="0">
                                    <label for="Microchip">無晶片</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="FosterTd">縣市</td>
                                <td><input type="text" name="CityId"></td>
                            </tr>
                            <tr>
                                <td class="FosterTd">連絡人</td>
                                <td><input type="text" name="ContactPerson"></td>
                            </tr>
                            <tr>
                                <td class="FosterTd">連絡電話</td>
                                <td><input type="text" name="ContactPhone"></td>
                            </tr>
                            <tr>
                                <td class="FosterTd">寵物描述</td>
                                <td><input type="text" name="PetDes"></td>
                            </tr>
                            <tr>
                                <td class="FosterTd">領養狀態</td>
                                <td><input type="radio" name="AdoptState" value="1">
                                    <label for="AdoptState">已領養</label>
                                    <input type="radio" name="AdoptState" value="0">
                                    <label for="AdoptState">待領養</label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    </tr>


                    <tr>
                        <td class="Title">照片</td>
                        <td colspan="5" class="Content">
                            <img src="">
                            <div id="TitleButtonDiv">
                                <!-- 隱藏img -->
                                <img src="" alt="" id="outputImg" height="100" style="display:none">
                                <!-- 隱藏img end -->

                                <label for="uploadImg" class="TitleButton uploadImg">
                                    <input type="file" style="display:none;" accept=".jpg, .jpeg, .png" id="uploadImg"
                                        name="uploadImg" onchange="openFile(event)">上傳圖片
                                </label>
                                <input type="button" class="TitleButton" value="刪除圖片" id="deleteImg">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="ViewTitle">狀態</td>
                        <td class="ContentView">
                            <input type="radio" name="FosterRadio" value="1">
                            <label for="html" id="MyLabel">已批准</label>
                            <input type="radio" name="FosterRadio" value="0">
                            <label for="html" id="MyLabel">未批准</label>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="ViewTitle">未批准原因</td>
                        <td class="ContentView">
                            <textarea name="" id="textArea" class="inputNotOutline" cols="20" rows="2"></textarea>
                        </td>
                    </tr> -->
                    <tr>
                        <td colspan="2" id="MySubmitId">
                            <input type="submit" class="MySubmitSent" value="新增">

                            <a href="/BackFosterManage/FosterManageList"><button type="button"
                                    class="MySubmitCancel">返回</button></a>

                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <!-- footer -->
        <footer class="container-fluid footer">
            <div class="row justify-content-center w-100 m-0">
                <div class="col-10 col-md-10 copyright">
                    本站所有資訊來源為會員自行刊登，本站對資訊內容無法確實檢查，僅就一般正常情理做審核，如有遺漏或侵犯它人權益由刊登者自行負擔相關責任。
                    <br>如有任何建議或合作請與我們聯絡 <br>© 2021 Copyright .tw By MFEE18-No.8
                </div>
            </div>
        </footer>

        <script>
            // 漢堡選單
            $(document).ready(function () {
                $('.burgar-menu').on('click', function (e) {
                    $('body').toggleClass('burgar-menu-show');
                });
            });
        </script>


    </body>

</html>