<%- include("./Back/News.txt") %>

  <!-- 內頁 -->
  <div class="content-wrapper">
    <section class="content">
      <h3 class="title">最新消息管理</h3>
      <form action="" id="News" name="News" method="POST" class="table-responsive">
        <table class=" table table-striped">
          <!-- 標題 -->
          <tr class="">
            <th scope="col" style="vertical-align: middle;">
              標題
            </th>
            <td>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <input type=" text" id="TitleText" class="form-control" value="" name="NewsTitle" required>
              </div>
            </td>
          </tr>
          <!-- 發佈日期 -->
          <tr class="">
            <th scope="col" style="vertical-align: middle;">
              發佈日期
            </th>
            <td style="vertical-align: middle;">
              <!-- 發佈日期str -->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                  <input name="ShowStartDate" type="date" class="form-control inputNotOutline" value="" required>
                </div>
              </div>
              <!-- 發佈日期~ -->
              <label class="s-Elab">～</label>
              <!-- 發佈日期End -->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                  <input name="ShowEndDate" type="date" class="form-control inputNotOutline" value="" required>
                </div>
              </div>
            </td>
          </tr>
          <!-- 狀態 -->
          <tr class="">
            <th scope="col" style="vertical-align: middle;">
              狀態
            </th>
            <td style="vertical-align: middle;">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <label for="NewsState_1">
                  <input type="radio" id="NewsState_1" name="NewsState" value="1">
                  顯示
                </label>
                <label for="NewsState_0">
                  <input type="radio" id="NewsState_0" name="NewsState" value="0">

                  隱藏</label>
              </div>
            </td>
          </tr>
          <!-- 內容 -->
          <tr class="">
            <th scope="col" style="vertical-align: middle;">
              內容
            </th>
            <td style="vertical-align: middle;">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <textarea name="NewsContent" id="textArea" class="form-control" cols="40" rows="10" required></textarea>
              </div>
            </td>
          </tr>
        </table>
        <!-- 確認修改/返回 -->

        <div class="col-xs-12 text-right">

          <button type="submit" class="btn btn-primary">送出</button>
          <a href="/BackNewsManage/NewsManageList?pageNo=<%=pageNo%>">
            <button type="button" class="btn btn-primary">返回</button>
          </a>
        </div>


      </form>
    </section>
  </div>
  </div>



  <%- include("./Back/Foot.txt") %>